@model Quiron.LojaVirtual.Web.Models.ProdutosViewModel
@using Quiron.LojaVirtual.Web.HtmlHelpers

@{
    ViewBag.Title = "ListaProdutos";
}

<h2>ListaProdutos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

    
@foreach(var p in Model.Produtos)
{
<div class="well">
    <h3></h3>
        @p.Nome
    
        @p.Descricao
        
        @p.Preco.ToString("c")
    <h3></h3>
</div>
}

@Html.PageLinks(Model.Paginacao,x =>Url.Action("ListaProdutos", new { pagina = x}))




